extends layout

block content
  h2 Help us try and figure out just how hard ECE courses are at UT Austin 🤘
  br
  p.lead This is a system that works using pairwise comparisons and ELO. In the background every vote affects the overall ELO of the course using the Glicko2 algorithm. You can read more about it 
    a(href='http://www.glicko.net/glicko/glicko2.pdf') here. 
    | With every vote, we become a little more sure of the subjective difficulty of these courses. An ELO system is better than a simple rating since individual's scales can drastically 
    a(href='http://imgs.xkcd.com/comics/pain_rating.png') differ. 
  p.lead Once the variance in the ELO scores reduces to a satisfactory level, we will publish our results. 
  .container
    .row
      h3 Select the class that is more likely to be difficult:
      p.lead If you can't compare the two classes for whatever reason just refresh the page it will spit out 2 new ones.
      .col-sm-6
        .vote-container
          form.form-horizontal(action='/api/vote', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input(type='hidden', name='winner', id='winner', value='' + class1.code)
            .form-group
              input(type='hidden', name='loser', id='loser', value='' + class2.code)
            .form-group
              h2 #{class1.code} - #{class1.name}
              p #{class1.description}
              button.btn.btn-default(type='submit')
                  | This class is harder. 
      .col-sm-6
        .vote-container
          form.form-horizontal(action='/api/vote', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input(type='hidden', name='winner', id='winner', value='' + class2.code)
            .form-group
              input(type='hidden', name='loser', id='loser', value='' + class1.code)
            .form-group
              h2 #{class2.code} - #{class2.name}
              p #{class2.description}
              button.btn.btn-default(type='submit')
                  | Naw this class is harder. 
