extends layout

block content
  h2 Current Classes Ranked in Order ⚡
  table.table.table-hover
    thead
      tr
        th #
        th Code
        th Name
        th Deviation
        th Rating
    tbody
      each _class, index in classes
        tr
          th= index
          td= _class.code
          td= _class.name
          td= "+/- " + Math.round(_class.rd)
          td= Math.round(_class.rating)
    
  
